<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Otomatik Havale Paneli</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="app">
        <form class="form" v-if="!bankSelected" @submit.prevent="onNameSubmit">
          <div class="card">
            <div>
              <label for="name">İsim:</label>
              <input id="name" type="text" v-model="name" required>
            </div>
            <div>
              <label for="surname">Soyisim:</label>
              <input id="surname" type="text" v-model="surname" required>
            </div>
            <button class="button" type="submit">Devam Et</button>
          </div>
        </form>
        <div class="card" v-if="bankSelected && !selectedBank">
          <p class="countdown">{{ countdown }}</p>
          <h2 class="card-title">Para yatırmak istediğiniz bankayı seçiniz:</h2>
          <ul class="bank-list">
            <li v-for="(bank, index) in banks" :key="index">
              <input type="radio" v-model="selectedBank" :value="bank">
              {{ bank.name }}
            </li>
          </ul>
          <button class="button" @click="confirmBankSelection">Devam Et</button>
        </div>
        <div class="card" v-if="selectedBank">
          <h2 class="card-title">{{ selectedBank.name }}</h2>
          <p class="card-text">Hesap numarası: {{ selectedBank.accountNumber }}</p>
          <p class="card-text">IBAN: {{ selectedBank.iban }}</p>
          <button class="button" @click="onDeposit">Para Yatır</button>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
